#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Floating for YouTube™
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=jjphmlaoffndcnecccgemfdaaoighkel
Icon=chrome-jjphmlaoffndcnecccgemfdaaoighkel-Default
StartupWMClass=crx_jjphmlaoffndcnecccgemfdaaoighkel
OnlyShowIn=Old;
