#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=3DView
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=hhngciknjebkeffhafnaodkfidcdlcao
Icon=chrome-hhngciknjebkeffhafnaodkfidcdlcao-Default
StartupWMClass=crx_hhngciknjebkeffhafnaodkfidcdlcao
OnlyShowIn=Old;
